version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: next-twitter-postgres
    ports: 
      - "5432:5432"
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    volumes:
      - postgres-data:/var/lib/postgresql/data  # [Docker Volume]:[コンテナ内の保存先]
#    restart: unless-stopped  # 手動 stop したら起動しない

volumes:
  postgres-data:
